<nav class="navbar is-info">
    <div class="navbar-brand nav-nodes">
        <a href="/" class="navbar-item"><strong>Blog-EM!</strong></a>
    </div>
    <div class="form-container nav-nodes">
        <form class="search-form" action="results/">
            <input id="search-bar" type="text" class="title" name="title" placeholder="Search">
        </form>
    </div>
    <div class="profile-widgets-container nav-nodes">
        <a href=""><button class="profile nav-btn">profile</button></a>
        <a href="create_spaces/"><button class="create-space nav-btn">Create Space</button></a>
    </div>
    <div class="login-container nav-nodes">
        <button class="nav-btn">login</button>
    </div>
</nav>